* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: auto;
  padding-bottom: 1rem;
}

button {
  border: 2px solid #ffffff;
  border-radius:    20px;
  font-weight:      bold;
  padding:          12px 12px;
  letter-spacing:   1px;
  color: white;
  text-transform:   uppercase;
  transition:       transform 80ms ease-in;
}

button:active {
    transform: scale(0.95); /* button gets smaller when clicked */
}

button:focus {
    outline: none; /* no highlight on button when moused over */
}

button.transparent-btn {
  background-color: transparent; /* button on top of overlay */
  border-color: #ffffff;
}

section {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  justify-content: center;
  color: white;
}
